footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

main {
    margin-top: 8em;
    text-align: center;
}

main > .container {
    padding: 60px 15px 0;
}

h1 {
    color: red;
}

a {
    text-decoration: none;
    color: white !important;
}

header a {
    margin: 1em;
}